// Font
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
$font: 'Inconsolata', 'Courier New', monospace;


// Colors
$loader-gray: #f3f3f3;
$loader-blue: #3498db;

$personal: #bce8f1;
$work: #faebcc;
$school: #ebccd1;
$other: #ddd;

$personal-border: #31708f;
$work-border: #8a6d3b;
$school-border: #a94442;
$other-border: #333333;
