@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body {
  font-family: 'Inconsolata', 'Courier New', monospace;
}

.map {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    top: -.01px; // makes map full screen w/o removing navbar margin-bottom
}
.back {
  margin: 10px;
}
