@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body {
  font-family: 'Inconsolata', 'Courier New', monospace;
}

.task-location {
  margin-top: 10px;
}
html, body {
    height: 100vh; // set parent components to full screen to be able to use calc() in map
}
#map {
      height: calc(100vh - 50px);
      height: 100vh;
      width: 100vw;
      position: fixed;
      // z-index: 100;
}
.navbar {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
}
.about-body {
  text-align: center;
}
.back {
  margin: 10px;
}
.pac-container {
  z-index: 2000; // allows the autocomplete to display in the modal
}
$loader-size: 150px;
.loader {
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-top: -$loader-size/2;
  margin-left: -$loader-size/2;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
