#map {
      height: calc(100vh - 50px);
      width: 100vw;
      position: fixed;
      // z-index: 100;
}
.gm-svpc {
  display: none; // hides the little person icon at bottom right of google map
}
// .gm-style-mtc div, .gmnoprint div { // styles map options same as Nav
//   background-color: #222 !important;
//   color: #9d9d9d !important;
// }
