$personal: #bce8f1;
$work: #faebcc;
$other: #ddd;
$border: black;
$current: blue;
$white: white;

$marker-size: 15px;

.Current {
  background-color: $current;
}
.Personal {
  background-color: $personal;
}
.Work {
  background-color: $work;
}
.Other {
  background-color: $other;
}


.marker {
  position: absolute;
  width: $marker-size;
  height: $marker-size;
  left: -$marker-size/2;
  top: -$marker-size/2;
  border: 3px solid $border;
  border-radius: $marker-size;
  background-color: $current;
  // background-color: inherit;
  color: $white;
  line-height: $marker-size;
  vertical-align: middle;
  text-align: center;
  font-size: 16;
  font-weight: bold;
  padding: 2;
}
